@import '../css/icomoon.css';
@import '../css/animate.css';
@import '../css/flaticon.css';
@import '../css/ionicons.min.css';
@import '../css/magnific-popup.css';
@import '../css/open-iconic-bootstrap.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~aos/dist/aos.css';

@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Playfair Display', serif;

$white: #fff;
$black: #000000;
$darken: #1f1f1f;

$primary: #fd5f00;
$secondary: #ffd615;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

@mixin gradient-background(){
	background: rgba(107,117,255,1);
	background: -moz-linear-gradient(45deg, rgba(107,117,255,1) 0%, rgba(107,117,255,1) 0%, rgba(89,183,255,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(107,117,255,1)), color-stop(0%, rgba(107,117,255,1)), color-stop(100%, rgba(89,183,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(107,117,255,1) 0%, rgba(107,117,255,1) 0%, rgba(89,183,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(107,117,255,1) 0%, rgba(107,117,255,1) 0%, rgba(89,183,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(107,117,255,1) 0%, rgba(107,117,255,1) 0%, rgba(89,183,255,1) 100%);
	background: linear-gradient(45deg, rgba(107,117,255,1) 0%, rgba(107,117,255,1) 0%, rgba(89,183,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b75ff', endColorstr='#59b7ff', GradientType=1 );
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($black,60%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $primary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: rgba(0,0,0,.8);
	font-weight: 400;
	font-family: $font-secondary;
}


.container{
	max-width: 1200px;
}

.text-primary {
	color: $primary!important;
}


.ftco-navbar-light {
	background: transparent!important;
	// position: absolute;
	// top: -8px;
	// left: 0;
	// right: 0;
	z-index: 3;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	.navbar-brand {
		color: $black;
		padding-top: 1rem;
		padding-bottom: 1rem;
		@include media-breakpoint-down(md){
			color: $white;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 1rem;
		}
	}

	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 20px;
			margin-left: 20px !important;
			margin-right: 0;
		}
		> .nav-item {
			> .nav-link {
				font-size: 15px;
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-left: 20px;
				padding-right: 20px;
				color: $black;
				font-weight: 400;
				&:hover, &:focus {
					color: $black;
				}
				opacity: 1!important;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 0;
					color: $white;
				}
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
			}


			&.ftco-seperator {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;
				@include media-breakpoint-down(md) {
					padding-left: 0;
					margin-left: 0;
				}
				&:before {
					position: absolute;
					content: "";
					top: 10px;
					bottom: 10px;
					left: 0;
					width: 2px;
					background: rgba($white, .05);
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
			&.cta {
				> a {
					color: $white;
					border: 1px solid $primary;
					background: $primary;
					@include border-radius(2px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					a{
						border: 1px solid $secondary;
						background: $secondary !important;
					}
				}
			}
			&.active {
				> a {
					color: rgba(0,0,0,.5);
				}
			}
			@include media-breakpoint-down(md){
				&.active {
					> a {
						color: $primary;
					}
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}

	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		padding: 0;
		.nav-item {
			> .nav-link{
				@include media-breakpoint-down(md){
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-bottom: 0 !important;
				}
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px !important;
					padding-right: 20px !important;
					margin-top: 6px !important;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 1rem!important;
				padding-right: 1rem!important;
				margin-left: 0 !important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			margin-right: 15px !important;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			padding-top: 1rem!important;
			padding-bottom: 1rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;
		}

		.navbar-brand {
			color: $black;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
}

.navbar-brand {
	font-weight: 400;
	font-size: 24px;
	font-weight: 900;
	position: relative;
	span{
		color: $secondary;
	}
	&:hover, &:focus{
		color: $black !important;
	}
}


//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}

	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:after{
				position: absolute;
				top: -2px;
				left: -2px;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				content: '';
				border:1px solid rgba(255,255,255,.3);
				@include border-radius(50%);
			}
			&:hover, &:focus{
				outline: none !important;
			}
			&.active {
				background: lighten($black, 70%);
			}
		}
	}
	&.home-slider {
		position: relative;
		height: 680px;
		z-index: 0;
		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 680px;
			position: relative;
			z-index: 0;
			@include media-breakpoint-down(lg){
				background-position: center center !important;
			}
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: $black;
				opacity: .3;
			}
			.slider-text {
				height: 680px;
				z-index: 0;
				@include media-breakpoint-down(sm){
					text-align: center;
				}
				.img{
					width: 66%;
					// max-width: 66%;
					height: 680px;
					z-index: -1;
					@include media-breakpoint-down(sm){
						width: 100%;
					}
				}
				.text{
					width: 34%;
					// max-width: 34%;
					background: $secondary;
					height: 680px;
					z-index: 1;
					.text-2{
						position: relative;
					}
					@include media-breakpoint-down(sm){
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: transparent;
						h1{
							color: $white;
							&:after{
								background: $white;
							}
						}
						.subheading{
							color: rgba(255,255,255,.9);
						}
						p{
							color: rgba(255,255,255,.9);
						}
					}
				}
				h1 {
					font-size: 48px;
					color: $black;
					line-height: 1.3;
					font-weight: 900;
					position: relative;
					font-family: $font-primary;
					&:after{
						position: absolute;
						bottom: -10px;
						left: 0;
						right: 0;
						content: '';
						width: 100%;
						height: 4px;
						background: $black;
					}
					@include media-breakpoint-down(md) {
						font-size: 30px;
					}
				}
				.subheading{
					font-size: 16px;
					font-weight: 400;
					font-family: $font-primary;
					// text-transform: uppercase;
					color: rgba(0,0,0,.4);
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				p {
					font-size: 18px;
					line-height: 1.5;
					font-weight: 400;
					color: rgba(0,0,0,.5);
				}
				.btn-custom{
					font-weight: 400;
					// color: $black;
				}
			}
		}
		.owl-nav {
			position: absolute;
			bottom: 90px !important;
			left: 0;
			right: 0;
			max-width: 1200px;
			margin: 0 auto;
			@include media-breakpoint-down(md){
				display: none;
			}
			.owl-prev,
			.owl-next {
				position: absolute;
				width: 17.1%;
				height: 90px;
				// color: $primary !important;
				background: $white !important;
				border: 1px solid rgba(0,0,0,.1);
				border-top: none;
				@include transition(.7s);
				span {
					&:before {
						font-size: 20px;
						margin-top: 7px;
						color: $black;
					}
				}
				p{
					margin-bottom: 0;
					font-size: 20px;
				}
				opacity: 1;
			}
			.owl-prev {
				top: 0 !important;
				right: 0 !important;
				@include media-breakpoint-up(lg){
					right: 17% !important;
					margin-right: -1px;
				}
				&:hover, &:focus{
					background: $black !important;
					outline: none !important;
					span {
						&:before {
							font-size: 20px;
							margin-top: 7px;
							color: $white;
						}
					}
					p{
						color: $white;
					}
				}
			}
			.owl-next {
				top: 0 !important;
				right: 0 !important;
				@include media-breakpoint-up(lg){
					right: 0 !important;
				}
				&:hover, &:focus{
					background: $black !important;
					outline: none !important;
					span {
						&:before {
							font-size: 20px;
							margin-top: 7px;
							color: $white;
						}
					}
					p{
						color: $white;
					}
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 60px;
			width: 100%;
			text-align: center;
			display: none;
			@include media-breakpoint-down(md){
				bottom: 5px;
				display: block;
			}
			.owl-dot {
				width: 10px;
				height: 10px;
				margin: 5px;
				border-radius: 50%;
				background: rgba(255,255,255,.4);
				&.active {
					background: $white;
				}
			}
		}
	}
}


.hero-wrap{
	width: 100%;
	height: 500px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@include media-breakpoint-down(md){
		background-position: top center !important;
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .3;
		background: $black;
	}
	&.hero-wrap-2{
		.overlay{
			width: 100%;
			opacity: .3;
		}
	}
	.slider-text{
		height: 500px;
	h1 {
		font-size: 64px;
		color: $white;
		line-height: 1.2;
		font-weight: 700;
		@include media-breakpoint-down(md) {
			font-size: 40px;
		}
		// span{
		// 	font-size: 54px;
		// 	font-weight: 700;
		// }
	}
	p {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		color: rgba(255,255,255,.8);
		strong{
			font-weight: 700;
			a{
				color: $black;
			}
		}
	}
	.breadcrumbs{
		font-size: 16px;
		margin-bottom: 20px;
		z-index: 99;
		font-weight: 400;
		span{
			color: rgba(255,255,255,.8);
			i{
				color: rgba(255,255,255,.8);
			}
			a{
				color: rgba(255,255,255,1);
				&:hover, &:focus{
					color: $primary;
					i{
						color: $primary;
					}
				}
			}
		}
	}
	.bread{
		font-weight: 700;
	}
}
}


.bg-light {
	background: #f8f9fa!important;
}

.bg-primary{
	background: $primary;
}

.bg-secondary{
	background: $secondary !important;
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(3px);
	// box-shadow: none!important;
	-webkit-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $primary !important;
		border: 1px solid $primary !important;
		color: $white !important;
		&:hover {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-outline-white {
		border-color: rgba($white, .8);
		background: none;
		@include border-radius(5px);
		border-width: 1px;
		color: $white;
		&:hover, &:focus, &:active {
			background: $white;
			border-color: $white;
			color: $primary;
		}
	}
	&.btn-black {
		background: $black !important;
		border: 1px solid $black !important;
		color: $white !important;
		&:hover {
			border: 1px solid $primary !important;
			background: $primary !important;
			color :$white;
		}
		&.btn-outline-black {
			border: 1px solid $black;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $black;
				color :$white;
			}
		}
	}
}



//BLOG ENTRY
.blog-entry{
	margin-bottom: 3em;
	width: 100%;
	.text{
		h3{
			font-size: 20px;
			margin-bottom: 20px;
			a{
				color: $black;
			}
		}
		.meta{
			position: relative;
			z-index: 0;
			margin-bottom: 10px;
			&:after{
				z-index: -1;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				content: '';
				width: 100%;
				height: 1px;
				background: $black;
			}
			span{
				background: $white;
			}
		}
	}
	.img{
		height: 180px;
		@include border-radius(4px);
		&.img-big{
			height: 700px;
			position: relative;
			.overlay{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				opacity: .5;
				background: rgba(0,0,0,0);
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(0,0,0,0)), color-stop(27%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
			}
			.text{
				display: block;
				width: 100%;
				padding: 2em 3em 7em 3em;;
				position: relative;
				h3{
					font-size: 40px;
					a{
						color: $white;
					}
				}
				.subheading{
					color: $secondary;
				}
				.btn-custom{
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 1em 2em;
					background: $white;
					color: $black;
				}
			}
		}
		&.img-big-2{
			height: 500px;
			.overlay{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				opacity: .7;
				background: rgba(0,0,0,0);
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(0,0,0,0)), color-stop(27%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
			}
			.text{
				display: block;
				width: 100%;
				padding: 2em 3em 5em 3em;;
				position: relative;
				h3{
					font-size: 40px;
					line-height: 1.2;
					a{
						color: $white;
					}
				}
				.subheading{
					color: $secondary;
				}
				.btn-custom{
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 1em 2em;
					background: $white;
					color: $black;
				}
			}
		}
	}
	.img-2{
		display: block;
		width: 100%;
		overflow: hidden;
		@include border-radius(4px);
		img{
			-webkit-transform: scale(1.0);
			-moz-transform: scale(1.0);
			-o-transform: scale(1.0);
			transform: scale(1.0);
			@include transition(.3s);
		}
	}
	&:hover{
		.img-2{
			img{
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
	.half{
		width: 100%;
		display: block;
		@include media-breakpoint-up(lg){
			width: 50%;
		}
		.img{
			height: 380px;
		}
		h3{
			font-size: 30px;
			font-weight: 700;
		}
	}
}


//FTCO_ABOUT
.ftco-section-about{
	.text{
			background: $darken;
			@include media-breakpoint-up(md){
				margin-top: -4em;
			}
			.text-2{
				position: relative;
				z-index: 0;
			}
		}
		h1 {
			font-size: 70px;
			color: $white;
			line-height: 1.2;
			font-weight: 700;
			position: relative;
			@include media-breakpoint-down(md) {
				font-size: 30px;
			}
		}
		.subheading{
			font-size: 16px;
			font-weight: 400;
			font-family: $font-primary;
			// text-transform: uppercase;
			color: rgba(255,255,255,.4);
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
			font-weight: 400;
			color: rgba(255,255,255,.4);
		}
		.btn-custom{
			font-weight: 400;
			color: rgba(255,255,255,.3);
		}
		.signature{
			font-style: italic;
			font-size: 24px;
			font-family: $font-secondary;
			color: rgba(255,255,255,.2);
			text-decoration: underline;
		}
}


// USEFUL CODE
.form-control {
	height: 52px!important;
	background: $white!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: none!important;
	&:focus, &:active {
		border-color: $black;
	}
}
textarea.form-control {
	height: inherit!important;
}
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}
.bg-darken {
	background: $darken;
}


.about-author{
	img{
	}
	.desc{
		h3{
			font-size: 24px;
		}
	}
	.bio{

	}
}


.ftco-section {
	padding: 7em 0;
	position: relative;
	z-index: 0;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftco-no-pt{
	padding-top: 0 !important;
}
.ftco-no-pb{
	padding-bottom: 0 !important;
}

.ftco-bg-dark {
	background: #3c312e;
}


.ftco-subscribe{
	width: 100%;
	display: block;
	z-index: 0;

}
.subscribe-form{
	.form-group {
		position: relative;
		margin-bottom: 0;
		@include border-radius(0);
		input {
			height: 64px !important;
			border: 1px solid transparent;
			color: rgba(0,0,0,.7) !important;
			font-size: 20px;
			background: rgba(0,0,0,.05) !important;
			border-radius: 5px 0px 0px 5px;
			padding: 0 20px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: rgba(0,0,0,.5) !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: rgba(0,0,0,.5) !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: rgba(0,0,0,.5) !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: rgba(0,0,0,.5) !important;
			}
		}
		.submit{
			color: $white !important;
			background: $black !important;
			border-radius: 0px 5px 5px 0px;
			font-size: 16px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: rgba(255,255,255,.8);
	}
}

.ftco-footer {
	font-size: 16px;
	background: $darken;
	padding: 7em 0;
	z-index: 0;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 18px;
			font-weight: 700;
			font-family: $font-primary;
		}
		ul{
			li{
				a{
					color: rgba(255,255,255,.7);
					span{
						color: $white;
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba($white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}
.ftco-media {
	background: $white;
	border-radius: 0px;
	.heading {
		font-weight: normal;
	}
	&.ftco-media-shadow {
		padding: 40px;
		background: $white;
		box-shadow: 0 10px 50px -15px rgba(0,0,0,.3);
		transition: .2s all ease;
		position: relative;
		top: 0;
		&:hover, &:focus {
			top: -3px;
			box-shadow: 0 10px 70px -15px rgba(0,0,0,.3);
		}
	}
	.icon {
		font-size: 50px;
		display: block;
		color: $primary;
	}
	&.text-center {
		.ftco-icon {
			margin: 0 auto;
		}
	}
}
.ftco-overflow-hidden {
	overflow: hidden;
}

.padding-top-bottom {
	padding-top: 120px;
	padding-bottom: 120px;
}

// Map

#map {
	// height: 400px;
	width: 100%;
	@include media-breakpoint-down(md) {
		height: 300px;
	}
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
      box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
      box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section{
	.subheading{
		font-size: 18px;
		display: block;
		margin-bottom: 5px;
	}
	h2{
		font-size: 30px;
		font-weight: 900;
		span{
			position: relative;
			&:after{
				position: absolute;
				bottom: 7px;
				right: -12px;
				width: 10px;
				height: 10px;
				content: '';
				background: $secondary;
			}
		}
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9);
		}
		h2{
			font-size: 40px;
			color: $white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}

//COVER BG
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



.about-image{
	@include media-breakpoint-down(sm){
		height: 400px;
		margin-bottom: 30px;
	}
}


// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



#section-counter{
	position: relative;
	z-index: 0;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		z-index: -1;
		opacity: 0;
		background: $black;
	}
}
.ftco-counter {
	// padding: 6em 0;
	@include media-breakpoint-down(lg){
		background-position: center center !important;
	}
	.img{
		display: block;
		width: 100%;
		@include media-breakpoint-down(sm){
			height: 400px;
			background-position: top center !important;
		}
	}
	.block-18{
	}
	.text{
		strong.number{
			font-weight: 700;
			font-size: 30px;
			color: $black;
		}
		span{
			display: block;
			font-size: 14px;
			color: rgba(0,0,0,.7);
			margin-bottom: 10px;
		}
	}
	.icon{
		width: 70px;
		height: 70px;
		margin: 0 auto;
		// background: lighten($primary,20%);
		@include border-radius(50%);
		span{
			color: $white;
			font-size: 48px;
			@include gradient-background();
			-webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		}
	}
	.counter-wrap{
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
	}
}

.block-23 {
	ul {
		padding: 0;
		li {

			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .7);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}

		}
	}
}

.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				color: $darken;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid lighten($black,90%);
			}
			&.active {
				a, span {
					background: $darken;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}



.contact-section {
	.contact-info{
		p{
			font-size: 14px;
			a{
				color: lighten($black,10%);
			}
			span{}
		}
	}
	.box{
		width: 100%;
		display: block;
		.icon{
			width: 100px;
			height: 100px;
			background: rgba(0,0,0,1);
			margin: 0 auto;
			margin-bottom: 2em;
			@include border-radius(50%);
			span{
				color: $secondary;
				font-size: 30px;
			}
		}
		h3{
			font-size: 18px;
			font-weight: 600;
			font-family: $font-primary;
		}
	}
	.contact-form{
		width: 100%;
	}
}
.block-9 {

	.form-control {
		outline: none!important;
		box-shadow: none!important;
		font-size: 15px;
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		h3 {
			font-size: 18px;
			font-weight: 400;
			font-family: $font-primary;
			a {
				color: $black;
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				font-size: 12px;
				margin-right: 5px;
				a {
					color: lighten($black, 50%);
				}
			}
		}
	}
}

/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 95%);
	// padding: 10px;

	.form-group {
		position: relative;
		input {
			height: 60px !important;
			padding-right: 50px;
			font-size: 14px;
			border: 1px solid rgba(0,0,0,.09);
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}


//SIDEBAR
.sidebar-wrap{
	width: 100%;
	display:block;
	background: rgba(0,0,0,.03);
	@include media-breakpoint-down(md){
		margin-top: 7em;
	}
	@include border-radius(4px);
	.heading{
		font-size: 24px;
		font-weight: 900;
	}
}
.about{
	img{
		width: 150px;
		height: auto;
		@include border-radius(50%);
	}
	.text{
		strong{
			color: $black;
		}
	}
}

.sidebar-box {
	margin-bottom: 30px;
	font-size: 15px;
	width: 100%;
	.heading{
		font-size: 24px;
		font-weight: 900;
	}
}

.category-image{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
		margin: 0 0 10px 0 !important;
		padding: 0 !important;
		border-bottom: none !important;
		a{
			height: 140px;
			.text{
				h3{
					color: $white;
					font-weight: 700;
				}
			}
		}
	}
}


.sidebar{
	@include media-breakpoint-down(md){
		margin-top: 7em;
	}
}

.categories, .sidelink {
	padding: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			color: lighten($black,10%);
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
